@layer base {
  :root {
    --content-max-width: 600px;

    /* oklch(100% 0 0) */
    --background: 100% 0 0;
    /* oklch(20% 0.04 256) */
    --foreground: 20% 0.04 256;
    /* oklch(64% 0.24 256) */
    --accent: 64% 0.24 256;
  }

  .dark {
    /* oklch(28% 0.01 256) */
    --background: 28% 0.01 256;
    /* oklch(92% 0.01 256) */
    --foreground: 92% 0.01 256;
    /* oklch(50% 0.2 256) */
    --accent: 50% 0.2 256;
  }
}
